body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background: #5c5757;
}
.btn-sup{
    text-decoration: none;
    color:red;
}
.btn-sup:hover{
    color:gray;
    transition: 0.75s;
}
.btn-upd{
    text-decoration: none;
    color:green;
}
.btn-upd:hover{
    color:gray;
    transition: 0.75s;
}
/*==============================Header & Menu========================*/
header{
    background:black;
    width:100%;
    height:80%;
    display:flex;
    justify-content: space-between;
}
.admin{
    display: flex;
    justify-content: space-between;
}
.img{
    margin-top:10px;
    margin-left:20px;
}
.img-admin{
    border-radius: 80px;
}
.txt{
    color:ivory;
}
.txt .adm{
    margin-left: 30px;
}
.txt .prof{
    margin-left: 30px;
}
.voir{
    text-decoration: none;
    color:ivory;
}
.voir:hover{
    color:gray;
    transition:0.7s;
}
.log-out{
    margin-top:30px;
    margin-right:80px;
}
.decon{
    text-decoration: none;
    color:ivory;
    font-size: 15px;
}
.decon:hover{
    color:gray;
    transition:0.7s;
}
/*===========================menu and section============================*/
#boody{
    display:flex;
    justify-content: space-between;
}
.menu-link{
    margin-left:-40px;
}
.menu-link .ul .li{
    background:black;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding:15px;
    width:120%;
}
.menu-link .ul .li .link{
    text-decoration: none;
    color:ivory;
    padding:15px;
    text-align: right;
}
.menu-link .ul .li:hover{
    background:gray;
    transition:0.5s;
}
.menu-link .ul .li:active{
    background:gray;
}
/*================================fin header et menu==================*/
#section{
    width:1000px;
    margin-right:50px;
    border: 1px solid red;
}
/*==============================================================================*/
/*=============================Entree=======================*/
.title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    letter-spacing: 3px;
}
.s-title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-left:50px;
    margin-top:50px;
    text-decoration: underline;
}
.table1{
    margin-left:80px;
    border:1px solid black;
    border-radius: 20px;
    width:370px;
}
.th1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color:#42f587;
}
.inpt1{
    height:25px;
    width:100%;
    border-radius: 3px;
    outline:none;
}
#sub1{
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
    background:#42f587;
    height:40px;
    width:85px;
}
#sub1:hover{
    background:ivory;
    color:#42f587;
}
#res1{
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
    background:#f54242;
    height:40px;
    width:80px;
}
#res1:hover{
    background:ivory;
    color:#f54242;
}
/*==============================recuperation entree=========================*/
table .th2 .td2{
    border: 1px solid black;
    border-collapse: collapse;
}
.thead{
    background:#42f587;
}
.th2{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    padding:10px;
}
.td2{
    padding:10px;
}
.fieldset1{
    width:980px;
    margin-left: 10px;
}
.s-title1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-left:50px;
    margin-top:50px;
    text-decoration: underline;
}

/*============================================================================*/
/*=========================sortie==============================*/
.title-sort{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    letter-spacing: 3px;
}
.stitle-sort{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-left:50px;
    margin-top:50px;
    text-decoration: underline;
}
.fieldset2{
    width:350px;
    border-radius: 20px;
    margin-left:80px;
}
.th-sort{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color:#f54242;
}
.inpt-sort{
    height:25px;
    width:100%;
    border-radius: 3px;
    outline:none;
}
#btn-sub{
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
    background:#42f587;
    height:40px;
    width:85px;
}
#btn-sub:hover{
    background:ivory;
    color:#42f587;
}
#btn-reset{
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
    background:#f54242;
    height:40px;
    width:80px;
}
#btn-reset:hover{
    background:ivory;
    color:#f54242;
}
/*===================================recuperation sortie==============*/
.stitle-recup{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-left:50px;
    margin-top:50px;
    text-decoration: underline;
}
table .th2-sort .td-sort{
    border: 1px solid black;
    border-collapse: collapse;
}
.thead-sort{
    background:#f54242;
}
.th2-sort{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    padding:10px;
}
.td-sort{
    padding:10px;
}
.fieldset3{
    width:900px;
    margin-left: 10px;
}
.print{
    margin:25px;
}
.printed{
    text-decoration: none;
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
    padding:20px;
    background:linear-gradient(180deg,#01041a,#7857e6);
    color:ivory;
}
.printed:hover{
    zoom: 105%;
    background:linear-gradient(180deg,#7857e6,#01041a);
    color:ivory;
    transition:5.5s;
}
/*====================================================================================*/
/*==========================Produit===================================*/
.title_pro{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    letter-spacing: 3px;
}
.stitlepro{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-left:100px;
    margin-top:50px;
    text-decoration: underline;
}
.fieldset002{
    width:350px;
    border-radius: 20px;
    margin-left:80px;
}
.th-pro{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color:#048730;
}
.inpt-pro{
    height:25px;
    width:100%;
    border-radius: 3px;
    outline:none;
}
#sub_pro{
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
    background:#42f587;
    height:40px;
    width:85px;
}
#sub_pro:hover{
    background:ivory;
    color:#42f587;
}
#res_pro{
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
    background:#f54242;
    height:40px;
    width:80px;
}
#res_pro:hover{
    background:ivory;
    color:#f54242;
}
/*===============================recuperation produit=====================*/
.stitle-pro{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-left:320px;
    margin-top:100px;
    text-decoration: underline;
}
table .th2-pro .td-pro{
    border: 1px solid black;
    border-collapse: collapse;
}
.thead-pro{
    background:#03fc6b;
}
.th2-pro{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    padding:10px;
}
.td-pro{
    padding:10px;
}
.fieldset003{
    width:350px;
    margin-left: 300px;
}
/*====================================================================================*/
/*=============================stock=========================*/
.title-stock{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    letter-spacing: 3px;
}
.titlestock{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-left:250px;
    margin-top:50px;
    text-decoration: underline;
}
.fieldset4{
    width:600px;
    margin-left:200px;
}
table .th-stock .td-stock{
    border: 1px solid black;
    border-collapse: collapse;
}
.thead-stock{
    background: #17238a;
}
.th-stock{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    padding:15px;
}
.td-stock{
    text-align: center;
}
/*==================================================================================*/
/*===========================fournisseur======================*/
.title-four{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    letter-spacing: 3px;
}
.s-titFourn{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-left:50px;
    margin-top:50px;
    text-decoration: underline;
}
.fieldset5{
    width:350px;
    border-radius: 20px;
    margin-left:80px;
}
.th-fourn{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.inpt-fourn{
    height:25px;
    width:100%;
    border-radius: 3px;
    outline:none;
}
#sub-fourn{
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
    background:#42f587;
    height:40px;
    width:85px;
}
#sub-fourn:hover{
    background:ivory;
    color:#42f587;
}
#res-fourn{
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
    background:#f54242;
    height:40px;
    width:80px;
}
#res-fourn:hover{
    background:ivory;
    color:#f54242;
}
/*========================recuperation fournisseur============*/
.stit-fourn{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-left:350px;
    margin-top:50px;
    text-decoration: underline;
}
table .th2-fourn .td-fourn{
    border: 1px solid red;
    border-collapse: collapse;
}
.thead-fourn{
    background:#17238a;
}
.th2-fourn{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    padding:10px;
}
.td-fourn{
    padding:10px;
}
.fieldset6{
    width:620px;
    margin-left: 200px;
}

/*=============================================================================*/
/*=======================categorie========================*/
.title-cat{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    letter-spacing: 3px;
}
.s-titcat{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-left:50px;
    margin-top:50px;
    text-decoration: underline;
}
.fieldset7{
    width:350px;
    border-radius: 20px;
    margin-left:80px;
}
.th-cat{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.inpt-cat{
    height:25px;
    width:100%;
    border-radius: 3px;
    outline:none;
}
#sub-cat{
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
    background:#42f587;
    height:40px;
    width:85px;
}
#sub-cat:hover{
    background:ivory;
    color:#42f587;
}
#res-cat{
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
    background:#f54242;
    height:40px;
    width:80px;
}
#res-cat:hover{
    background:ivory;
    color:#f54242;
}
/*=================================recuperation categorie====================*/
.s-titcat2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-left:350px;
    margin-top:50px;
    text-decoration: underline;
}
table .th2-cat .td-cat{
    border: 1px solid black;
    border-collapse: collapse;
}
.thead-cat{
    background:#17238a;
}
.th2-cat{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    padding:10px;
}
.td-cat{
    padding:10px;
}
.fieldset8{
    width:400px;
    margin-left: 300px;
}
/*=================================================================================*/
/*==============================journal===========================*/
.title-journ1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    letter-spacing: 3px;
}
.title-journ2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    letter-spacing: 3px;
}
/*===============================================================================*/
/*===========================utilisateur===========================*/
.title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    letter-spacing: 3px;
}
.stit-user{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-left:50px;
    margin-top:50px;
    text-decoration: underline;
}
.fieldset9{
    width:350px;
    border-radius: 20px;
    margin-left:80px;
}
.th-user{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.inpt-user{
    height:25px;
    width:100%;
    border-radius: 3px;
    outline:none;
}
#sub-user{
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
    background:#42f587;
    height:40px;
    width:85px;
}
#sub-user:hover{
    background:ivory;
    color:#42f587;
}
#res-user{
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
    background:#f54242;
    height:40px;
    width:80px;
}
#res-user:hover{
    background:ivory;
    color:#f54242;
}
/*========================recuperation utilisateur================*/
.s-tituser{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-left:350px;
    margin-top:50px;
    text-decoration: underline;
}
table .th2-user .td-user{
    border: 1px solid black;
    border-collapse: collapse;
}
.thead-user{
    background:#17238a;
}
.th2-user{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    padding:10px;
}
.td-user{
    padding:10px;
}
.fieldset01{
    width:950px;
    margin-left:10px;
}
/*============================================================================*/
/*=========================statistique=========================*/
.title-stat{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    letter-spacing: 3px;
}
/*===========================================================================*/
/*=======================Profil================================*/
#container{
    background-image: url("../images/01.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
/* .container1{
  
} */
.contain{
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    background:black;
    opacity:0.9;
    border-radius: 5px;
    width:1000px;
    height:500px;
   margin-top: 50px;
}
.img-prof{
    margin:100px;
    height:300px;
    width:250px;
}
.img-contain{
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    height:300px;
    width:250px;
}
.desc{
    margin:70px;
    width:400px;
}
.desc1{
    letter-spacing: 8px;
    color:ivory;
}
.admin-name{
    letter-spacing: 8px;
    color:ivory;
    font-size:40px;
}
.ule{
    margin-top:30px;
    list-style-type: none;
}
.lii{
    color:ivory;
    line-height: 40px;
}
